.controls {
  padding: 0.5rem;
  display: flex;
}

input, button {
  font-size: inherit;
  border-radius: 2rem;
  border: 0;
  outline: none;
}

input {
  padding: 0.2rem 1rem 0.2rem 1rem;
  width: 75%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  flex: 1 0 auto;
  margin-left: 0.45rem;
  background-color: #fff;
}

button:hover {
  background-color: #99c2e0;
  cursor: pointer;
}


