.photos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2px;
}

.photos img {
  height: 200px;
  width: 200px;
  border: transparent solid 3px;
  object-fit: cover;
}

.photos img:hover {
  border: #161d40 solid 3px;
  cursor: pointer;
}
