.profiles {
  background-color: #aedcff;
  border-top: #5581a9 solid 0.2rem;
  height: 96vh;
  overflow-y: auto;
  //flex: 1 1 auto;
}

.profiles ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: #84b6dc solid 2px;
  padding: 0.5rem;
}

li:hover {
  background-color: #ffa3d1;
  cursor: pointer;

}
